<h1>Editing profile_item</h1>

<% form_for(@profile_item) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @profile_item %> |
<%= link_to 'Back', profile_items_path %>