<h1>Listing profile_items</h1>

<table>
  <tr>
  </tr>

<% @profile_items.each do |profile_item| %>
  <tr>
    <td><%= link_to 'Show', profile_item %></td>
    <td><%= link_to 'Edit', edit_profile_item_path(profile_item) %></td>
    <td><%= link_to 'Destroy', profile_item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New profile_item', new_profile_item_path %>