%label
  Description
%label
  = description.content.to_s
= link_to_remote(image_tag("has_profile_items/profile_item_edit.png"), :url => "/profile_items/edit/#{description.id}" , :update =>"profile-item-#{description.id}")