%label
  Icon   
= render :partial => "/profile_items/attachment_wrapper_iframe" , :locals => {:profile_item => icon , :update_column => :icon  , :iframe_width => "160" , :iframe_height => "100"} 
= link_to_remote("done", :url => "/profile_items/show/#{icon.id}" , :update =>"profile-item-#{icon.id}")